/*First Grid*/

.first {grid-area: header}

.portfolio{
    background-color: rgb(29, 69, 138);
    padding: 2px;

    display: grid;
    grid-template-areas: 'header header header header header'
    'auto auto auto auto auto';
}

.grid-item{
    background-color: white;

    border-bottom: rgb(29, 69, 138) solid 1px;
    border-top: rgb(29, 69, 138) solid 1px;

    padding: 1px;
}

.top-row{
    background-color: rgb(29, 69, 138);
    color: white;
}

.first{
    text-align: center;
    color: white;
}

/*Second Grid*/

.title {grid-area: main}

.enter{
    background-color: rgb(155,155,155);
    padding: 2px;

    display: grid;
    grid-template-areas: 'main main main main main'
    'auto auto auto auto auto';

    margin-top: 7vh;
}

.first-item{
    background-color: rgb(233,233,233);

    border-bottom: rgb(51, 51, 51) solid 1px;
    border-top: rgb(51, 51, 51) solid 1px;

    padding: 1px;
}

.second-item{
    background-color: white;

    border: rgb(51, 51, 51) solid 1px;

    padding: 1px;
}

.first-row{
    background-color: rgb(51, 51, 51);
    color: white;
}

.title{
    background-color: rgb(51, 51, 51);
    text-align: center;
    color: white;
}

/*Third Grid*/

.third{
    background-color: rgb(29, 69, 138);
    padding: 2px;

    display: grid;
    grid-template-columns: auto auto;

    margin-top: 7vh;
}

.third-item{
    background-color: rgb(29, 69, 138);

    color: white;

    padding: 5px;
}

.num-item{
    background-color: rgb(29, 69, 138);

    color: white;
    font-size: 200%;

    padding: 10px;
}